<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="include :: header('敏感词表列表')" />
</head>
<body class="pear-container">
     <div class="layui-card">
        <div class="layui-card-body">
            <div class="col-sm-12 search-collapse">
                <form id="formId" class="layui-form">

                    <div class="layui-form-item">
                        <label class="layui-form-label">敏感词：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="badword" placeholder="请输入敏感词" class="layui-input" />
                        </div>
                        <label class="layui-form-label">种类：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="kind" placeholder="请输入种类" class="layui-input" />
                        </div>
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="newbadword-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                    </div>
                </form>
            </div>
        </div>
     </div>
         <div class="layui-card">

             <div class="layui-card-body">
                 <table id="newbadword-table" lay-filter="newbadword-table">

                 </table>


                 <script type="text/html" id="newbadword-toolbar">
                     <button  sec:authorize="hasPermission('/system/newbadword/add','system:newbadword:add')"  class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
                         <i class="layui-icon layui-icon-add-1"></i>
                         新增
                     </button>
                     <button  sec:authorize="hasPermission('/system/newbadword/remove','system:newbadword:remove')"   class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
                         <i class="layui-icon layui-icon-delete"></i>
                         删除
                     </button>

                     <button type="button" id="import" class="pear-btn pear-btn-primary pear-btn-md" lay-event="import"  title="导入" >
                         <i class="layui-icon layui-icon-add-1"></i>
                         导入
                     </button>

                     <form id="uploadForm" class="pear-btn" action="" method="post" enctype="multipart/form-data">
                         <input id="file" type="file" name="file"/>
                     </form>

                 </script>



                 <script type="text/html" id="newbadword-bar">
                     <button  sec:authorize="hasPermission('/system/newbadword/edit','system:newbadword:edit')"   class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>
                     </button>
                     <button  sec:authorize="hasPermission('/system/newbadword/remove','system:newbadword:remove')"   class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i>
                     </button>
                 </script>
             </div>
         </div>
    <th:block th:include="include :: footer" />

     <script src="/static/admin/js/jquery.min.js"></script>
     <script src="/static/component/layui/layui.js"></script>
         <script>
             layui.use(['table', 'form', 'jquery','dictionary'], function () {
                 let table = layui.table;
                 let form = layui.form;
                 let $ = layui.jquery;

                 let prefix = "/system/newbadword/";

                 let cols = [
                     [
                         {type: 'checkbox'},
                         {
                             field: 'id',
                             title: 'ID'
                         },
                        {
                             field: 'badword',
                             title: '敏感词'
                        },
                        {
                             field: 'kind',
                             title: '种类'
                        },
                         {title: '操作', toolbar: '#newbadword-bar', align: 'center', width: 130}
                     ]
                 ]

                 table.render({
                     elem: '#newbadword-table',
                     url: prefix + 'data',
                     page: true,
                     cols: cols,
                     skin: 'line',
                     toolbar: '#newbadword-toolbar',
                     defaultToolbar: [{
                         layEvent: 'refresh',
                         icon: 'layui-icon-refresh',
                     }, 'filter', 'print', 'exports']
                 });

                 table.on('tool(newbadword-table)', function (obj) {
                     if (obj.event === 'remove') {
                         window.remove(obj);
                     } else if (obj.event === 'edit') {
                         window.edit(obj);
                     }
                 });

                 table.on('toolbar(newbadword-table)', function (obj) {
                     if (obj.event === 'add') {
                         window.add();
                     } else if (obj.event === 'refresh') {
                         window.refresh();
                     } else if (obj.event === 'batchRemove') {
                         window.batchRemove(obj);
                     } else if (obj.event === 'import') {
                         window.import(obj);
                     }

                 });

                 form.on('submit(newbadword-query)', function (data) {
                     table.reload('newbadword-table', {where: data.field})
                     return false;
                 });

                 window.add = function () {
                     layer.open({
                         type: 2,
                         title: '新增敏感词表',
                         shade: 0.1,
                         area: ['550px', '500px'],
                         content: prefix + 'add'
                     });
                 }

                 window.edit = function (obj) {
                     layer.open({
                         type: 2,
                         title: '修改敏感词表',
                         shade: 0.1,
                         area: ['550px', '500px'],
                         content: prefix + 'edit?id=' + obj.data['id']
                     });
                 }


                 window.import=function (obj) {
                     var fileDir=$("#file").val();
                     var suffix = fileDir.substr(fileDir.lastIndexOf("."));
                     if (file!=""){

                         if(".xls" != suffix && ".xlsx" != suffix ){
                             layer.msg("选择Excel格式的文件导入！");
                             $("#file").val("");
                         }else {
                             $.ajax({
                                 type : "POST",
                                 url : "/system/newbadword/importFile",
                                 data : new FormData($('#uploadForm')[0]),
                                 processData : false,
                                 contentType : false,
                                 success:function(result){
                                     if (result==false){
                                         layer.msg("添加成功");
                                         $("#file").val("");
                                     }

                                 }
                             });
                         }

                     }else {
                         layer.msg("请选择文件");
                     }

                 }

                 window.remove = function (obj) {
                     layer.confirm('确定要删除该敏感词表', {icon: 3, title: '提示'}, function (index) {
                         layer.close(index);
                         let loading = layer.load();
                         $.ajax({
                             url: prefix + "remove/" + obj.data['id'],
                             dataType: 'json',
                             type: 'delete',
                             success: function (result) {
                                 layer.close(loading);
                                 if (result.success) {
                                     layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                         obj.del();
                                     });
                                 } else {
                                     layer.msg(result.msg, {icon: 2, time: 1000});
                                 }
                             }
                         })
                     });
                 }

                 window.batchRemove = function (obj) {
                     let data = table.checkStatus(obj.config.id).data;
                     if (data.length === 0) {
                         layer.msg("未选中数据", {icon: 3, time: 1000});
                         return false;
                     }
                     let ids = "";
                     for (let i = 0; i < data.length; i++) {
                         ids += data[i].id + ",";
                     }
                     ids = ids.substr(0, ids.length - 1);
                     layer.confirm('确定要删除这些敏感词表', {icon: 3, title: '提示'}, function (index) {
                         layer.close(index);
                         let loading = layer.load();
                         $.ajax({
                             url: prefix + "batchRemove",
                             dataType: 'json',
                             data: {"ids":ids},
                             type: 'delete',
                             success: function (result) {
                                 layer.close(loading);
                                 if (result.success) {
                                     layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                         table.reload('newbadword-table');
                                     });
                                 } else {
                                     layer.msg(result.msg, {icon: 2, time: 1000});
                                 }
                             }
                         })
                     });
                 }

                 window.refresh = function (param) {
                     table.reload('newbadword-table', {where: param});
                 }
             });




         </script>
</body>
</html>