<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('监控')"/>
    <link rel="stylesheet" href="/admin/css/other/console2.css"/>
</head>
<body class="pear-container">
<div class="layui-row layui-col-space10">
    <div class="layui-col-md8">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">
                        主机信息
                    </div>
                    <div class="layui-card-body">
                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <div class="pear-card2">
                                    <div class="title">核心数</div>
                                    <div class="count pear-text" th:text="${cpu.cpuNum}">21</div>
                                </div>
                            </div>
                            <div class="layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <div class="pear-card2">
                                    <div class="title">空闲率</div>
                                    <div class="count pear-text"  th:text="${cpu.free + '%'}">32</div>
                                </div>
                            </div>
                            <div class="layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <div class="pear-card2">
                                    <div class="title">等待率</div>
                                    <div class="count pear-text" th:text="${cpu.wait + '%'}"></div>
                                </div>
                            </div>
                            <div class="layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <div class="pear-card2">
                                    <div class="title">使用率</div>
                                    <div class="count pear-text" th:text="${cpu.used + '%'}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">
                        内存监控
                    </div>
                    <div class="layui-card-body">
                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <div class="pear-card2">
                                    <div class="title">空闲内存/G</div>
                                    <div id="kongXian" class="count pear-text" th:text="${cpu.memInfo.free}"></div>
                                </div>
                            </div>
                            <div class="layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <div class="pear-card2">
                                    <div class="title">最大内存/G</div>
                                    <div id="zuiDa" class="count pear-text" th:text="${cpu.memInfo.total}"></div>
                                </div>
                            </div>
                            <div class="layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <div class="pear-card2">
                                    <div class="title">已用内存/G</div>
                                    <div id="yiYong" class="count pear-text" th:text="${cpu.memInfo.used}"></div>
                                </div>
                            </div>
                            <div class="layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <div class="pear-card2">
                                    <div class="title">内存使用</div>
                                    <div class="count pear-text" th:text="${#numbers.formatDecimal(cpu.memInfo.used / cpu.memInfo.total * 100, 2, 2)+ '%'}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">图例</div>
                    <div class="layui-card-body">
                        <div class="layui-tab custom-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                            <div id="echarts-records" style="background-color:#ffffff;min-height:400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md4">
        <div class="layui-card">
            <div class="layui-card-header">磁盘信息</div>
            <div class="layui-card-body">
                <ul class="pear-card-status" id="each">
                    <li th:each="sysFile:${cpu.sysFiles}">
                        <p th:text="${sysFile.typeName}"></p>
                        磁盘大小&nbsp;<span th:text="${sysFile.total}"></span>&nbsp;&nbsp;
                        空闲大小&nbsp;<span th:text="${sysFile.free}"></span>&nbsp;&nbsp;
                        <br/>
                        <br/>
                        已经使用&nbsp;<span th:text="${sysFile.used}"></span>&nbsp;&nbsp;
                        使用概率&nbsp;<span th:text="${sysFile.usage + '%'}"></span>
                        <br/>
                        <a href="javascript:;" data-id="1" class="pear-btn pear-btn-xs pear-btn-primary pear-reply">详情</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">主机信息</div>
            <div class="layui-card-body">
                <table class="layui-table" lay-skin="line">
                    <thead>
                    <tr>
                        <th>属性</th>
                        <th>值</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>名称</td>
                        <td th:text="${cpu.sysInfoComputerName}"></td>
                    </tr>
                    <tr>
                        <td>地址</td>
                        <td th:text="${cpu.sysInfoComputerIp}"></td>
                    </tr>
                    <tr>
                        <td>系统</td>
                        <td th:text="${cpu.sysInfoOsName}"></td>
                    </tr>
                    <tr>
                        <td>模型</td>
                        <td th:text="${cpu.sysInfoOsArch}"></td>
                    </tr>
                    <tr>
                        <td>JDK</td>
                        <td th:text="${'JDK' + cpu.jvmInfoVersion}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>

<script href="/static/component/layui/layui.js"></script>
<script href="/static/admin/js/jquery.min.js"></script>
<script href="/static/admin/js/echarts.js"></script>

<script  th:inline="javascript">


    layui.use(['layer','echarts'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            echarts = layui.echarts;
        $("body").on("click", "[data-url]", function() {
            parent.layui.tab.addTabOnlyByElem("content", {
                id: $(this).attr("data-id"),
                title: $(this).attr("data-title"),
                url: $(this).attr("data-url"),
                close: true
            })
        });

        //获取内存数据
        var kx=[(${cpu.memInfo.free})];
        var zd=[(${cpu.memInfo.total})];
        var yy=[(${cpu.memInfo.used})];

        //x轴名称
        var xName=new Array();
        xName.push('内存');

        //最大内存
        var maxNc=new Array();
        maxNc.push(zd);

        //已用内存
        var yyNc=new Array();
        yyNc.push(yy);

        //剩余内存
        var syNc=new Array();
        syNc.push(kx);

        //获取磁盘信息 var peart=$("#each").eq(0).children("p").html();
        $.each($("#each li"),function (index,element) {
            var name=$(this).children("p").eq(0).html();
            var zdnc=$(this).children("span").eq(0).html();//磁盘总内存
            var kxnc=$(this).children("span").eq(1).html();//剩余内存
            var yync=$(this).children("span").eq(2).html();//已用内存

            xName.push(name);

            var zdd=zdnc.split(' ');
            var yyy=yync.split(' ');
            var kxx=kxnc.split(' ');

            maxNc.push(zdd[0]);
            yyNc.push(yyy[0]);
            syNc.push(kxx[0]);
        });



        //数据图形界面
        var myChart = echarts.init(document.getElementById('echarts-records'));
        var option;

        const labelOption = {
            show: false,
            formatter: '{c}',
            fontSize: 20,
            // rich: {
            //     name: {}
            // }
        };
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: ['最大内存', '已用内存', '剩余内存']
            },
            toolbox: {
                show: true,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {
                    magicType: { show: true, type: ['bar', 'stack'] }
                }
            },
            xAxis: [
                {
                    fontSize: 20,
                    type: 'category',
                    axisTick: { show: false },
                    data:xName
                    //['内存', 'C盘', 'D盘']
                }
            ],
            yAxis: [
                {
                    fontSize: 20,
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '最大内存',
                    type: 'bar',
                    barGap: 0,
                    label: labelOption,
                    emphasis: {
                        focus: 'series'
                    },
                    data:maxNc
                    //[zd, 100, 301]
                },
                {
                    name: '已用内存',
                    type: 'bar',
                    label: labelOption,
                    emphasis: {
                        focus: 'series'
                    },
                    data:yyNc
                    //[yy, 182, 191]
                },
                {
                    name: '剩余内存',
                    type: 'bar',
                    label: labelOption,
                    emphasis: {
                        focus: 'series'
                    },
                    data:syNc
                    //[kx, 232, 201]
                }
            ]
        };

        option && myChart.setOption(option);

        window.onresize = function(){
            myChart.resize();
        }
    });





</script>
</body>
</html>