<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增获取文章')" />
</head>
<body>
    <form class="layui-form">
        <div class="mainBox">
            <div class="main-container">

            <div class="layui-form-item">
                <label class="layui-form-label">文章网址：</label>
                <div class="layui-input-block">
                    <input type="text" name="newurl" placeholder="请输入路径" class="layui-input" />
                </div>
            </div>

            </div>
        </div>
        <div class="bottom">
            <div class="button-container">
                <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="newe-save">
                    <i class="layui-icon layui-icon-ok"></i>
                    提交
                </button>
                <button type="reset" class="pear-btn pear-btn-sm">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </div>
    </form>
</body>
<th:block th:include="include :: footer" />
<script th:inline="javascript">

    layui.use(['form', 'jquery','laydate','dictionary'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let laydate = layui.laydate;

        let prefix = "/system/newe/"

                        laydate.render({
                            elem: '#newcreatetime'
                        });
                        laydate.render({
                            elem: '#collecttime'
                        });

        form.on('submit(newe-save)', function (data) {

            var newurl=$("input[name='newurl']").val();

            $.ajax({
                url: prefix+'newSave',
                data: {
                  newurl:newurl
                },
                dataType: 'json',
                contentType: 'application/json',
                type: 'get',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                            parent.layui.table.reload("newe-table");
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    });
</script>
</html>